name: Generate Sources zip

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'

      - name: Install dependencies
        run: npm install

      - name: Create ZIP
        run: Compress-Archive -Path .\* -DestinationPath .\vsCMake-project.zip

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: vsCMake-project
          path: vsCMake-project.zip
          retention-days: 7
